.card-skill {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-gap: .4em;
    align-content: flex-start;
    border: 1px solid;

    h3 {
        font-size: 1em;
        margin-bottom: 0;
    }
}