.job {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;

    h2, h3, h4 {
        margin: .2em 0;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
        margin-top: 0; 
    }

    ul {
        font-size: .9em;
        margin: 0;
        li {
            list-style: none;
            margin: 0;
            margin-top: .6em;
            font-weight: 600;
            text-decoration: underline;
            line-height: 1.5;

            padding-left: 1em;
            text-indent: -1em;
        }
        ul li{
            font-weight: 400;
            margin-top: 0;
            text-decoration: none;
        }
    }
    .job-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .job-timespan {
        // position: absolute;
        font-size: .8em;
        // right: 0;
        margin-left: auto;
    }

    @media (max-width: 680px) {
        margin-top: 1em;
    }
}
.section-jobs-media {
    h3 {
        margin-top: .8em; 
    }
}



.section-education {
    ul {
        li {
            
        }
        ul li {
            display: inline-block;
            // margin-right: 1em;
            // margin

            &:not(:last-child):after {
                content: ', ';
                margin-right: .2em;

            }
        }
    }
}