.section-box {
    width: 100%;
    max-width: 64em;
    padding: 1em 0;
    margin: 0em auto;
    overflow: hidden;
    // background-color: #fff;
    color: #000;
    opacity: 0;
    margin-top: 1em;
    transition: opacity 500ms ease, margin-top 500ms ease;
    @media (max-width: 375px) {
        font-size: .9em;
    }

    h2 {
        background-color: #303030;
        color: #fff;
        font-weight: 400;
        font-size: 1.2em;
        padding: 1em;
        // padding-left: 0;
        margin: .4em 0;

        // transition: 300ms padding-left ease;
    }

    @media (max-width: 60em) {
        // div {
        //     // margin: 0 1em; // improve this
        //     margin-left: 1em;
        //     margin-right: 1em;
        // }

        .job {
            margin-left: 1em;
            margin-right: 1em;
        }
    }



    &.section-skill {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        // grid-gap: 1em;
        h2 {
            grid-column: span 5 / auto;

            @media (max-width: 640px) {
                grid-column: span 2 / auto;
            }
        }


        @media (max-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
    }

    &.section-jobs-coding, &.section-education  {
        display: grid;
        grid-template-columns: 1fr .1em 1fr;
        grid-column-gap: 4em;
        h2 {
            grid-column: span 3 / auto;
        }

        @media (max-width: 768px) {
            grid-column-gap: 2em;
        }

        @media (max-width: 680px) {
            grid-template-columns: 1fr;


            h2 {
                grid-column: auto;
            }

            .vr {
                display: none;
            }
        }
    }


    .is-business-card & {
        color: #fff;
    }

    &.in-viewport {
        opacity: 1;
        margin-top: 0;



        .vr {
            background-color: #303030;
            height: 70%;
            width: 100%;
        }
    }

    .vr {
        background-color: #303030;
        height: 0%;
        width: 100%;
        align-self: center;
        transition: 1000ms height ease;
    }

    

}

.is-resume {
    h2 {
        // padding-left: 1em;
    }
}