// html, body {
//     box-sizing: border-box;
//     * {
//         box-sizing: inherit;
//     }
// }


body {
    background-color: #303030;

    * {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    }
}

h3 {
    font-weight: 400;
}

.wrapper-index {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    // display: grid;
    grid-template-columns: 1fr 4fr; //repeat(2, 1fr);
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    // color: #000;
    transition: background-color 300ms ease-out;

    padding-bottom: 4em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 
                0 2px 2px 0 rgba(0,0,0,.16), 
                0 1px 0 1px rgba(0,0,0,.08);

    &.is-business-card {
        background: #303030;
    }

    &.is-resume {
        background-color: #fff;

        header {
            
        }
    }

    header {
        display: flex;
        position: fixed;
        // top: 0;
        color: #fff;
        width: 100%;
        text-transform: uppercase;

        // business card
        position: relative;
        max-width: 32em;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: max-width 500ms ease-in-out;
        // margin-bottom: 3em;


        &.is-fixed {
            position: fixed;
            max-width: 100%;
            top: 0;
            // left: 0;

            .header-content {
                display: flex;
                max-width: 64em;
                width: 100%;
                align-items: center;
                
                &-name {
                    font-size: 1em;
                    padding: .8em 0;
                    line-height: 1em;
                    text-align: left;
                }

                @media (max-width: 64em) {
                    padding: .4em .8em;
                }
            }



            a {
                display: block;
                line-height: 1em;
                padding: .8em 0;
            }
        }
        
        .header-content-name {
            text-align: left;
            z-index: 1;
            flex: 1 0 auto;
            font-size: 1em;
            margin: 0;

            // business card
            font-size: 3em;
            line-height: 3em;
            text-align: center;
          
            transition: line-height 300ms ease-in-out, font-size 300ms ease;

            @media (max-width: 375px) {
                font-size: 2em;
            }
        }


        .header-content {
            padding: .4em .4em;
            display: flex;
            max-width: 64em;
            width: 100%;
            margin: auto;

            transition: opacity 100ms ease 100ms;

            

            &.has-mounted {
                opacity: 1;
                display: flex;
            }

            &.has-mounted + .header-background {
                left: 0;
            }
        }

        .header-background {
            position: absolute;
            background-color: #06c;
            width: 100%;
            height: 100%;
        }

        + h3 {
            margin-top: 2em;
            transition: margin-top 300ms ease;

            @media (max-width: 420px) {
                padding: 0 1em;
                font-size: 1em;
            }
        }
     
        &.is-fixed  + h3 {
            color: pink;
            margin-top: 4em;
        }

        // & + .header-wrapper {
        //     height: 0;
        //     transition: height 300ms ease;
        // }

        // &.is-fixed + .header-wrapper {
        //     height: 162px;
        // }

       

       

        a {
            z-index: 10;
            color: #fff;
            text-decoration: none;
            text-transform: none;
            font-size: .8em;

            //
            display: none;

        }
    }


    .site-blog {
        color: #fff;
        a {
            color: #06c;
            text-decoration-color: #80b2e6;

            &:hover {
                color: #80b2e6;
            }
        }
    }
}

a {
    // t
}


footer {
    height: 7.5rem;
    background-color: #80b2e6;
    z-index: -10;
    position: relative;

}