body {
    background-color: #303030;
}

h3 {
    font-weight: 400;
}

.wrapper-index {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    color: #fff;

    header {
        position: fixed;
        top: 0;
        background-color: #06c;
        width: 100%;
        text-transform: uppercase;

        div {
            padding: .4em 2em;
            max-width: 48em;
            width: 100%;
            margin: auto;
            text-align: left;
        }
    }


    .site-title {
        font-size: 4em;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 1;
        padding: .6em;
        margin-top: 2em; 
        background-color: #06c;

    }

    .site-blog {

        a {
            color: #fff;
            text-decoration-color: #80b2e6;

            &:hover {
                color: #80b2e6;
            }
        }
    }
}

a {
    // t
}